<nav class="navbar bg-primary p-3 flex-column mb-5 align-items-start">
  <input type="checkbox" id="nav-toggle" />
  <div class="navbar-top w-100">
    <a class="navbar-brand text-white mb-0" href="home.html">LearnTech</a>
    <label for="nav-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <ul class="navbar-nav w-100 mt-2">
    <li><a class="nav-link" href="home.html">Home</a></li>
    <li><a class="nav-link" href="ai.html">Learn AI</a></li>
    <li><a class="nav-link" href="cybersecurity.html">Learn cybersecurity</a></li>
    <li><a class="nav-link" href="making-of.html">Make your page</a></li>
    <li><a class="nav-link" href="our-story.html">Our story</a></li>
    <li><a class="nav-link" href="programming_basics.html">Basics of programming</a></li>
  </ul>
</nav>
