#logincol {
  background-color: var(--color-primary);
  color: var(--color-text-light);
}

#loginIMG,
#robotimg {
  border-radius: 50%;
}

#loginMainDiv {
  min-height: fit-content;
}

#sucessdiv{
  max-width: fit-content;
  background-color: var(--color-div-sucess);
}