:root {
  --color-bg: #ffffff;
  --color-primary: #0c4461;
  --color-secondary: #61abff;
  --color-text-light: #ffffff;
  --color-text-dark: #000000;
  --color-div-sucess: #2196f3;
  --transition-speed: 0.3s;
  --border-radius: 0.25rem;
}

body {
  background-color: var(--color-bg);
  position: relative;
  margin: 0;
  font-family: Arial, sans-serif;
}
#nav-toggle {
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--color-text-light);
  border-radius: 2px;
  transition: all var(--transition-speed);
}

.navbar-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  width: 100%;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, padding 0.5s ease;
  border-radius: var(--border-radius);
}

.navbar-nav li a {
  color: var(--color-text-light) !important;
  text-decoration: none;
  border-radius: var(--border-radius);
  font-weight: 500;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  transition: background-color var(--transition-speed);
}

.navbar-nav li a:hover {
  background-color: var(--color-secondary);
}

#nav-toggle:checked ~ .navbar-nav {
  max-height: 500px;
  padding: 0.5rem 0;
}